* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-height: 945px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
}

.header-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    font-size: 20px;
}

.header-content>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

header img {
    height: 24px;
    transform: rotate(30deg);
}

header,
footer {
    width: 100%;
    height: 100px;
}

.bckgrnd-dg {
    background-color: rgb(0, 56, 80);
}

main {
    width: 100%;
    flex: 1;
    background-color: rgb(0, 32, 48);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

.main-content {
    flex: 1;
    padding: 24px 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.load-nxt-btn {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.load-nxt-btn>button {
    width: 80px;
    padding: 4px;
    /* border-width: 0; */
    border-radius: 6px;
    background-color: lightgray;
}

button:hover {
    cursor: pointer;
    background-color: rgb(190, 190, 190);
}

.content-limit {
    width: 1440px;
    margin: auto;
}

.poke-card {
    width: 230px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.poke-card:hover {
    cursor: pointer;
    opacity: 1;
}

.card-header,
.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    height: 40px;
    border-radius: 10px 10px 0 0;
}

.card-img {
    flex: 1;
}

.card-img img {
    width: 100%;
}

.card-footer {
    height: 56px;
    border-radius: 0 0 10px 10px;
    gap: 8px;
}

.type-img {
    height: 20px;
    filter: contrast(1.5);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.overlay-card {
    height: 550px;
    width: 360px;
    border: 2px solid black;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay-card-img {
    height: 226px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-card-img img {
    height: 100%;
}

.overlay-card-description {
    flex: 1;
    background-color: rgb(0, 32, 48);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-head {
    display: flex;
    justify-content: space-between;
    height: 24px;
}

.description-head>div {
    width: 50%;
    height: 100%;
    background-color: rgb(3, 87, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.description-head>div:hover {
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.description-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-card-btns {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 0 0 10px 10px;
}

.overlay-card-btns img {
    height: 26px;
}

.overlay-card-btns img:hover {
    cursor: pointer;
    opacity: 0.85;
}

.main-table {
    margin: auto;
    width: 80%;
    padding-left: 16px;
}

.main-table tr td {
    padding-bottom: 6px;
}

.main-table tr td:first-child {
    display: flex;
    justify-content: space-between;
}

.stat-container {
    height: 200px;
    width: 200px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stat {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat-bar {
    width: 60%;
    height: 8px;
    border: 1px solid red;
    border-radius: 4px;
}

.stat-value {
    height: 100%;
    background-color: red;
    border-radius: 4px 0 0 4px;
}

.loading-spinner {
    z-index: 1;
    position: fixed;
    top: 100px;
    left: 0;
    bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 32, 48);
}

.spinner {
    height: 250px;
    width: 250px;
    background-image: url('./assets/img/pokeball.png');
    background-position: center;
    background-size: cover;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.brd-lft {
    border-left: 1px solid rgba(0, 0, 0, 0.6);
}

.brd-rgt {
    border-right: 1px solid rgba(0, 0, 0, 0.6);
}

.txt-transf-capi {
    text-transform: capitalize;
}

.img-transf-rotate-180deg {
    transform: rotate(180deg);
}

.brd-rad-none {
    border-radius: 0;
}

.d_none {
    display: none;
}

@media (max-width: 1440px) {
    .content-limit {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .main-content {
        padding: 30px;
    }
}

@media (max-width: 430px) {
    .overlay-card {
        width: 300px;
    }
    
    .header-content {
        flex-direction: column;
        justify-content: space-around;
    }
}
